<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{SUBJECT}}</title>
  </head>
  <body>
    <h1>Password reset - {{APP_NAME}}</h1>
    <p>{{{BODY}}}</p>
    <p>
      Nếu bạn không yêu cầu đặt lại mật khẩu, hãy bỏ qua email này.
    </p>
    <hr />
    <small>&copy; {{YEAR}} {{APP_NAME}}</small>
  </body>
</html>


